packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
ansible/account.json
/terraform/stage2
.gce
.vagrant
/ansible/*.swp
/ansible/roles/jdauphant.nginx
*.retry
account.json
.molecule
test_role
Vagrantfile.backup
*.yamllint 
