packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.retry
*.yamllint
*.pyc
*.swp
.terraform
.molecule
.gce
.vagrant
.cache
account.json
terraform/stage2
ansible/roles/jdauphant.nginx
account.json
test_role
Vagrantfile.backup
