#Example set main variables
project = "id-898908"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
user_ssh="appuser"
source_ranges_default=["0.0.0.0/0"]
name_app = "app"
machine_type_app = "g1-small"
name_firewall_app = "name_firewall"
zone_app = "europe-west1-d"
ip_db = "10.132.0.0"
machine_type_db = "g1-small"
name_db  = "db"
name_firewall_db = "name_firewall"
db_disk_image = "image"
zone="europe-west1-d"

